.navbar-toggler {
  outline: none !important;
}

.btn.custom-button-login,
.btn.custom-button-create-account {
  font-size: var(--font-size-md);
  border-radius: var(--size-border-radius);
  padding: var(--size-padding);
  box-shadow: var(--size-box-shadow);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.btn.custom-button-login {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn.custom-button-login:hover {
  color: var(--color-secondary);
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary);
}

.btn.custom-button-create-account:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-secondary);
  border-color: var(--color-primary-dark);
}

.nav-link-lg {
  font-size: var(--font-size-lg);
}

.btn.custom-button-login:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
  background-color: var(--color-secondary) !important;
  color: var(--color-primary-dark) !important;
}

.btn.custom-button-create-account:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
  background-color: var(--color-primary-dark) !important;
  color: var(--color-secondary) !important;
}

.btn.custom-button-create-account {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-primary);
}
.profile-menu-item {
  cursor: pointer;
}

@media (max-width: 967px) {
  .btn.custom-button-login,
  .btn.custom-button-create-account {
    padding: 0.5em 1em;
    font-size: var(--font-size-sm);
    margin-top: 0.8em;
    width: fit-content;
  }
}

.icon11 {
  height: var(--icon-size);
  margin-right: var(--size-padding);
}

.icon22 {
  height: 2.1em;
  margin-right: var(--size-padding);
}

.icon33 {
  font-size: 1.7em;
  margin-right: var(--size-padding);
}

.left-navbar {
  display: flex;
  align-items: center;
}
