.user-info-card {
  max-width: 35em;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  text-align: center;
  margin-bottom: 1rem;
  position: relative; /* For positioning the user photo */
  margin-left: 3em;
  border: none;
}

.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 30px;
  border: 3px solid white;
}

.user-name {
  font-weight: bold;
  margin-top: 40px;
}

.user-xp {
  color: #6f42c1 !important;
  font-size: 1rem;
}

.user-following {
  font-size: 0.9rem;
  color: #333;
  text-align: center;
  margin-right: 0.5rem;
  margin-left: 11rem;
}
.user-followers {
  font-size: 0.9rem;
  color: #333;
  margin-right: 0.2rem;
}

.userActionBtn {
  background-color: #6f42c1;
  border: none;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.userActionBtn {
  margin-left: 0.5rem;
}

.userActionBtn .fa-shopping-cart {
  margin-right: 0.5rem;
}

/*  */
.courses-progress-card {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
  max-width: 35em;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 3em;
  border: none;
}

.course-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.course-logo {
  background: #6f42c1;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
}

.course-title {
  flex-grow: 1;
  margin-left: 10px;
}

.course-status {
  color: #6c757d;
}

.course-action {
  border: none;
  background: none;
  color: #6c757d;
}

.course-action:hover,
.course-action:focus {
  border: none;
  background: none;
  color: #6f42c1 !important;
}

.btn-cp {
  color: #6f42c1;
  border: solid #6f42c1;
}

.btn-cp:hover,
.btn-cp:focus {
  background-color: #6f42c1 !important;
  color: #fff;
  border: none;
}

/*  */

.certificates-card {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: 35em;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 3em;
  border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

/* Define the new arrow color and shape */
.carousel-control-prev-icon:after,
.carousel-control-next-icon:after {
  content: "";
  display: inline-block;
  width: 20px; /* Width of the arrow */
  height: 20px; /* Height of the arrow */
  background: transparent;
  border: solid 2px #6f42c1;
  border-width: 0 2px 2px 0;
}

/* Position the previous arrow */
.carousel-control-prev-icon:after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* Position the next arrow */
.carousel-control-next-icon:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.certificates-carousel .carousel-item {
  text-align: center;
}

.certificate-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.certificate-logo {
  background: #6f42c1;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 5px;
}

.certificate-title {
  color: #000;
}

/* */
.streak-calendar-container {
  max-width: 35em;
  margin-right: 5em;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
  box-shadow: 10.8px 10.8px 24.36px rgba(0, 0, 0, 0.25);
}

.streak-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.streak-calendar-month {
  font-weight: bold;
}

.streak-calendar-nav {
  cursor: pointer;
  font-size: 1.5em;
}

.streak-calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.streak-calendar-cell {
  text-align: center;
  padding: 5px;
  position: relative;
}

.streak-calendar-date {
  display: inline-block;
  width: 100%;
}

.today {
  font-weight: bold;
  color: #6f42c1;
}

.not-current-month .streak-calendar-date {
  color: #ddd;
}

.streak-icon,
.freeze-icon {
  position: absolute;
  bottom: 0;
  left: 0.6em;
  opacity: 0.6;
  font-size: 1.5rem;
}

.streak-icon {
  color: firebrick;
}

.freeze-icon {
  color: lightblue;
}

.streak-summary {
  margin-top: 1rem; /* Spacing after the calendar */
  text-align: center;
}

.streak-number {
  color: #fff;
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 36%,
    rgba(255, 163, 16, 1) 74%
  );
}

.current-streak,
.max-streak {
  font-size: 1.2rem; /* Adjust as necessary */
  margin: 0.5rem 0; /* Spacing between current and max streak */
}

.streak-calendar-cell.streak-day .streak-calendar-date,
.streak-calendar-cell.freeze-day .streak-calendar-date {
  color: #7c5bb9;
  font-weight: bold;
}

/*  */

.badges-slider-container {
  max-width: 35em;
  margin-top: 2em;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 20px;
  box-shadow: 10.8px 10.8px 24.36px rgba(0, 0, 0, 0.25);
}

.badges-slider-container h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.badges-slider-container .view-all {
  font-size: 1rem;
  color: #6f42c1;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.badge-item {
  padding: 10px;
}

.badge-item img {
  width: 80px;
  margin-bottom: 10px;
}

.badge-item p {
  color: #333;
  font-size: 1rem;
}

/* Arrows */
.slick-arrow {
  z-index: 1;
}

/*  */
.quicky-container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  max-width: 35em;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 1.1em;
  margin-left: 3em;
}

.quicky-avatar {
  position: relative;
  margin-bottom: 1em;
}

.quicky-base {
  width: 200px; /* Adjust size accordingly */
}

.quicky-avatar-img {
  position: absolute;
  margin-top: -80px;
  left: 80%;
  width: 120px;
}

.quicky-ring {
  width: 100px; /* Adjust size accordingly */
}

.quicky-level-container {
  position: relative;
  height: 30px; /* Height of the level bar */
  background-color: #e0e0e0; /* Background color of the level bar */
  border-radius: 15px; /* Rounded corners for the level bar */
  margin-bottom: 1em;
  display: flex;
  align-items: left;
  justify-content: left;
  max-width: 25em;
}

.quicky-level-bar {
  height: 100%;
  background-color: #6f42c1; /* Fill color of the level bar */
  border-radius: 15px; /* Keep the rounded corners */
  transition: width 0.5s ease-in-out;
}

.quicky-level {
  position: absolute;
  color: white;
  font-size: 1.5em;
  z-index: 1; /* Make sure the text appears above the progress bar */
  margin-left: 1em;
  margin-top: -0.1em;
}

.quicky-xp-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
  margin-left: 5em;
}

.quicky-current-xp,
.quicky-next-level-xp {
  font-size: 1em;
  color: #000;
}

.profile-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust the fr units as needed */
  gap: 20px;
  padding: 20px;
}

.titleStreak {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 2em;
  margin-left: 0.5em;
}

.shield {
  height: 7em;
}

.levelShield {
  font-size: 1.8em;
  font-weight: 500;
  position: relative;
  float: left;
  bottom: 2.7em;
  left: 1.5em;
  color: #6f42c1;
}

.follow {
  width: 1em;
}

.titleQuicky {
  display: flex;
  align-items: first baseline;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 2em;
  margin-left: em;
}
