.container {
  padding-top: 50px;
}

.card {
  filter: var(--box-shadow);
  border: none;
}

.card-title {
  color: #6f42c1;
  font-size: x-large;
}

.card-subtitle {
  font-weight: 200;
}

.btn-primary {
  background-color: #6f42c1 !important;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #ffffff !important;
  color: #6f42c1 !important;
  border: solid !important;
}

.btn-facebook {
  background-color: #3b5998 !important;
  border: none;
}

.btn-google {
  background-color: #dd4b39 !important;
  border: none;
}

.btn-github {
  background-color: #333 !important;
  border: none;
}

.btn-facebook:hover {
  background-color: #3b5998 !important;
  color: #ffffff !important;
  border: none !important;
}

.btn-facebook:hover,
.btn-google:hover,
.btn-github:hover {
  opacity: 0.9;
}

.btn-facebook:hover {
}

.form-control {
  border-radius: var(--input-radius);
  border: 1px solid #ced4da;
}
