.shop {
  max-width: 400px;
  margin: auto;
  font-family: "Arial", sans-serif;
}

.shop-header {
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
}

.inventory {
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f9;
  padding: 10px;
  border-radius: 10px;
}

.shop-section {
  margin-top: 30px;
}

.section-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 5px;
}

.shop-items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.shop-item {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shop-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-icon {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.heart-icon {
  color: red;
}

.crystal-icon {
  color: blue;
}

.streak-icon {
  color: lightblue;
}

.item-cost {
  font-weight: bold;
}
